body{
	width: 600px;
	margin: auto;
}
.q1{
	
    border-color: #fbfcfc;
    text-align: center;
    border-style: solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    }